.header{
    padding: 25px 0 77px;
    background-color: var(--white);
    
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    padding-left: 5px;
}
.header__logo > *:not(:last-child) {
    
    padding-right: 8px;
}

.header__title{
    padding-top: 41px;
    margin:0 auto;
    color: var(--black);
}