.tabs__input{
    width: 0;
    height: 0;
    opacity: 0;

    outline: none;
    pointer-events: none;

    position: absolute;
    z-index: -1;
}
.tabs__content_containers,
.tabs__content_elements,
.tabs__content_templates{
   display: none;
}
#all-tab:checked ~ .tabs__content .tabs__content_elements{
    display: block;
}
#all-tab:checked ~ .tabs__content .tabs__content_containers{
    display: block;
}
#all-tab:checked ~ .tabs__content.tabs__content_templates{
    display: block;
}
#containers-tab:checked ~ .tabs__content .tabs__content_containers{
    display: block;
}
#templates-tab:checked ~ .tabs__content .tabs__content_templates{
    display: block;
}
#elements-tab:checked ~ .tabs__content .tabs__content_elements{
    display: block;
}
.tabs__scroller{
    display: flex;
    align-items: center;
    gap: 24px;
    
    padding-left: 5px;

    color: var(--grey-3);
    background: var(--white);
}
.tabs__scroller-label{
    border-bottom: solid 5px var(--white);  
    padding-bottom: 8px;
}
#all-tab:checked ~ .tabs__scroller .tabs__scroller-label[for="all-tab"]{
    border-bottom-color: var(--black);
    color: var(--black);
}
#elements-tab:checked ~ .tabs__scroller .tabs__scroller-label[for="elements-tab"]{
    border-bottom: solid 5px var(--black);
    color: var(--black);
}
#containers-tab:checked ~ .tabs__scroller .tabs__scroller-label[for="containers-tab"]{
    border-bottom-color: var(--black);
    color: var(--black);
}
#templates-tab:checked ~ .tabs__scroller .tabs__scroller-label[for="templates-tab"]{
    border-bottom-color: var(--black);
    color: var(--black);
}
@media screen and (min-width=768px) {
    .tabs__scroller{
        gap: 40px;
        padding-left: 0; 
    }
}