/* Стилизация кнопки */
.button {
  height: 48px;
  border-radius: 8px;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  border: none;

  cursor: pointer;
  transition: all 200ms ease-in-out;

  &_full-width {
    width: 100%;
  }
  &__text {
    font-family: Roboto;
    color: var(--white);
  }
  &__text_alternated {
    color: var(--color-grey-4);
  }
  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
  &_primary {
    background-color: var(--primary);
  }
  &_secondary {
    background-color: var(--secondary);
  }
  &_alternated {
    border: 1px solid var(--grey-3);
    background-color: var(--bg-white);
  }
  &_primary:hover {
    background-color: var(--blue-3);
  }
  &_secondary:hover {
    background-color: var(--purple-2);
  }
  &_alternated:hover {
    border-color: var(--color-main);
  }
  &:active{
     transform: translateY(2px);
  }
}

