/* Стилизация кнопки */
/*цвета будут тянуться из main после слияния*/
:root {
   
    --blue-2: #4263EB;
    --blue-3: #2342C0;
    --purple-2: #5028C6;
    ;
}
/* Стилизация кнопки */
.button{
    width: 100%;
    height: 100%;    
    border-radius: 8px;
    text-align: center;
    color : var(--white);
    box-sizing: border-box;  
    display: inline-block;  
}
.button-font{   
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.button:hover{
    cursor: pointer;
}

.button:active{
    cursor: default;
}
.button:disabled{
    opacity: 0.5;    
    cursor: not-allowed;
}
.button-primary{
    background-color: var(--blue-2);
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}
.button-secondary{
    background-color: var(--purple);    
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}
.button-alternate{   
    border: 1px solid var(--grey-3);
    background-color: var(--white);
    color: var(--grey-4); 
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}
.button-primaryHovered, .button-primary:hover{
    background-color: var(--blue-3);  
}
.button-secondaryHovered, .button-secondary:hover{
    background-color: var(--purple-2);  
}
.button-alternateHovered, .button-alternate:hover{
    border-color: var(--black);   
}
/*for display*/
.button-list{   
    display: inline-block;
    columns: 3 auto;  
    column-gap: 0px;   
}
.button-list__button{
    width: 189px;
    height: 48px;
    padding: 0;
    margin:0;
}
.button-list__button:not(.button-list_alternate){
    padding-right: 33px;
}
.button-list__button:not(.button-list_disabled){
    padding-bottom: 16px;
}
