
.card{
    height: 100%;
    
    display: grid;
    grid-template-rows: 1fr 1px auto;
    
    align-items: center;
    align-content: space-between;

    overflow: hidden;
}
.card_justify-center{
    justify-items: center;
}
.card_justify-stretch{
    justify-items: stretch;
}
.card_large-padding{
    padding-left: 15px;
    padding-right: 15px;
}
.card__line{
    height: 1px;
    width: 100%;
    background:var(--grey-2);
}
.card__title{
    text-align: center;
    
    font-weight: 500;
    color: var(--black);

    padding: 13px 0 10px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card__type{
    margin-top: 6px;

    text-align: center;
    color: var(--grey-4);

    display: none;
  
}
@media screen and (min-width: 768px){
    .card{
        padding: 32px 25px;
    }
    
    .card_large-padding{
        padding-left: 74px;
        padding-right: 74px;
    }
    .card__line{
        background:var(--white);
    }
    .card__title{
        padding: 25px 0 0;   
    }
    .card__type{
       display: block;
    }
}