.card {
  height: 100%;
  padding: 16px 0;
  display: grid;
  grid-template-rows: 1fr 1px auto;

  align-items: center;
  align-content: space-between;
  gap: 12px;

  overflow: hidden;

  @media screen and (min-width: $bp-small) {
    padding: 32px 25px;
  }

  &_justify-center {
    justify-items: center;
  }
  &_justify-stretch {
    justify-items: stretch;
  }
  &__content_tooltip-padding {
    padding: 67.5px 0 22.5px; /*увеличено на высоту абсолюта*/
  }
  &__line {
    height: 1px;
    width: 100%;
    background: var(--grey-2);

    @media screen and (min-width: $bp-small) {
      visibility: hidden;
    }
  }
 
  &__title {
    text-align: center;
    font-weight: 500;
    color: var(--color-main);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 12px;
  }
  &__type {
    margin-top: 6px;
    text-align: center;
    color: var(--grey-3);

    @media screen and (min-width: $bp-small) {
      color: var(--color-grey-4);
    }
  }
  &__content_flex-column {
    display: flex;
    flex-direction: column;
  
    gap: 5px;
    padding: 0 5px;
    flex-wrap: wrap;
  }
  &__content_grid{
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    @media screen and (min-width: $bp-small) {
      grid-template-columns: auto auto;
    }
  }
  &__description {
    min-width: 0; 
    max-width: 100%;
  }
}
