.features {
  flex-grow: 1;
  background: var(--bg-white);

  display: flex;
  flex-direction: column;
  padding: 32px 0 8px;
  gap: 32px;
  align-items: flex-start;
  justify-items: flex-start;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;

    max-width: 825px;
    padding: 32px 0 64px;
    gap: 65px;
  }

  &__header {
    margin: 0;
    color: var(--color-main);
  }
  &_aligment-stretch {
    align-self: stretch;
  }
  &__element_grids{
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 32px;
    width: 100%;
  }
  &__element_grid{
    display: grid;
    gap: 16px;
    align-items: center;
    grid-template-columns: 1fr;
  }
  &__element_grid-3{
    @media screen and (min-width: 768px) {
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(3, 1fr);
      grid-auto-flow: column;
    }
  }
  &__element_grid-4{
    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  &__code_html,
  &__code_css {
    overflow-y: auto;
    height: 322px;

    font-size: 8px;
    line-height: 12px;
    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 24px;
    }
  }
  &__header,
  &__element,
  &__code {
    padding: 0 16px;
    @media screen and (min-width: 768px) {
      padding: 0 48px;
    }
  }
  &__code {
    border-top: 1px solid var(--grey-2); //grey-2
    padding-top: 22px;
    overflow: hidden;
    color: var(--color-main);
    @media screen and (min-width: 768px) {
      padding-top: 50px;
    }
  }
  &_margin-bottom{
    margin-bottom: 32px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }
}
