@mixin border-properties() {
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  padding: 16px 24px 24px;
}
.histogram {
  padding: 8px 12px 12px;

  background-color: var(--bg-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include border-properties();

  &_no-border-mobile {
    border: none;
    @media screen and (min-width: $bp-small) {
      @include border-properties();
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  &__title {
    margin: 0;
    opacity: 80%;
    color: var(--color-main);
  }

  &__count {
    margin: 6px 0 0;

    color: var(--color-main);
  }
  &__link-wrapper {
    margin: 3px 0 0 5px;
  }
  &__link {
    color: var(--blue-2);
  }
  &__title {
    margin: 0;
  }
  &__bars {
    margin: 19px 0 2px;
    height: 50px;

    display: flex;
    align-items: flex-end;

    animation: grow-bars 200ms ease-in-out;
    @media screen and (min-width: $bp-small) {
      margin: 39px 0 2px;
    }
  }
  &__bar {
    flex-grow: 1;
    margin: 0 1px;

    background: var(--blue-2);
  }
}
@keyframes grow-bars {
  0% {
    transform: scaleY(0);
    transform-origin: bottom center;
  }
  100% {
    transform: scaleY(1);
    transform-origin: bottom center;
  }
}
