html, body{
    margin: 0;
    padding:0;
}
.body{
    align-content: center;
}
.page__box{
    max-width: 1100px;
    margin: 0 auto;
}
.page__main{
    height: 1036px;
    background-color: var(--grey-5);
}
