.avatar {
  width: 100%;
  height: 100%;

  &_big {
    width: 204px;
    height: 204px;
  }
  &_medium {
    width: 102px;
    height: 102px;
  }
  &_small {
    width: 64px;
    height: 64px;
  }

  &__img {
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
