.sidebar {
  display: none;
  @media screen and (min-width: 768px) {
    align-self: flex-start;
    flex-shrink: 0;

    display: grid;
    grid-template-columns: 1fr;
    justify-items: flex-start;
    align-items: flex-start;
    gap: 32px;
    width: 229px;
  }
  &__items-title {
   
      color: var(--grey-3);
      margin: 0 0 16px 0;
      @media screen and (min-width: 768px) {
        color: var(--main-color);
      }
  }
  &__items-list {
    
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 16px;
      @media screen and (min-width: 768px) {
        gap: 4px;
      }
  }
  &__item {
    
      display: block;
    
  }
  &__link {
   
      color: var(--color-main);
      text-decoration-line: none;
    
  }
  &__link:active,
  &__link_highlighted {
   
      color: var(--red-2);
    
  }
}
