.page-template {
  background: var(--bg-white);
  @media screen and (min-width: $bp-small) {
    background: var(--bg-secondary);
  }
  &__inner {
    display: grid;
    grid-template-rows: auto auto auto;
    max-width: 1100px;
    margin: 0 auto;
    @media screen and (min-width: $bp-small) {
      gap: 56px;
    }
  }
}
