h1 {
  font-weight: 500;
  font-size: 28px;
  line-height: 38px;

  /* or 128% */
  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
  }
}
h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;

    /* or 126% */
  }
}
h3 {
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;

  @media screen and (min-width: 768px) {
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
  }
}
h4 {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  @media screen and (min-width: 768px) {
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
  }
}

h5 {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;

  /* or 150% */
  letter-spacing: 0.04em;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;

    /* or 150% */
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}
p {
  font-weight: normal;
  //font-size: 12px;
  //line-height: 18px;
  font-size: 14px;
  line-height: 22px;

  @media screen and (min-width: 768px) {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }
}
small {
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;

  @media screen and (min-width: 768px) {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
  }
}
h1,
h2,
h3,
h4,
h5,
p,
small {
  font-family: Inter;
  font-style: normal;
  color: var(--grey-6, #c4c4c4);
}
