@import '../fonts/fonts.css';


$bp-xsmall: 400px;
$bp-small: 768px;
$bp-medium: 1024px; 

:root {
  --white: #ffffff;
  --white-alfa75: #ffffff75;
  --black: #212429;
  --black-2: #000000;
  --pink: #f784ad;
  --purple: #7048e8;
  --purple-2: #5028c6;
  --blue: #374fc7;
  --blue-2: #4263eb;
  --blue-3: #2342c0;
  --blue-4: #a0b1f5;
  --blue-4-alfa20: #a0b1f520;
  --red: #f03d3e;
  --red-2: #d84910;
  --grey-1: #f8f9fa;
  --grey-2: #dde2e5;
  --grey-3: #acb5bd;
  --grey-4: #495057;
  --grey-5: #f9fafc;
  --grey-6: #c4c4c4;
  --grey-6-alfa-50: #C4C4C450;
  --grey-7: #90a0b7;
  --grey-8: #334d6e;
  --grey-9: #e5e5e5;

  --error: var(--red);
  --success: var(--blue);

  --primary: var(--blue);
  --secondary: var(--purple);

  --bg-main: var(--grey-5);
  --bg-white: var(--white);
  --bg-secondary: var(--grey-9);
  --bg-input: var(--grey-1);
  --color-main: var(--black);
  --color-secondary: var(--grey-3);
  --color-calendar-7: var(--grey-7);
  --color-calendar-8: var(--grey-8);
  --color-grey-4: var(--grey-4);
  --hsl-lightness-shadow: 0%;
}
:root[data-theme-dark] {
  --bg-main: var(--grey-4);
  --bg-white: var(--black);
  --bg-secondary: var(--grey-4);
  --bg-input: var(--grey-4);
  --color-main: var(--white-alfa75);
  --color-grey-4: var(--white-alfa75);
  --color-calendar-7: var(--grey-3);
  --color-calendar-8: var(--grey-3);
  --hsl-lightness-shadow: 100%;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
.no-pointer-events{
  pointer-events: none;
}
.preload *:not(.skeleton *) {
 /* -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -ms-animation: none !important;
  -o-animation: none !important;*/
  animation-duration: 0s !important;
  -moz-animation-duration: 0s !important;
  -webkit-anianimation-duration: 0s !important;
  -o-animation-duration: 0s !important;
  transition:all 0s !important;
  -moz-transition: all 0s !important;
  -webkit-transition:all 0s !important;
  -o-transition:all 0s !important;
}
