@import './main.scss';
@import './_normalize.scss';
@import './_tipography.scss';

@import '../../components/header/header.scss';
@import '../../components/nav/nav.scss';
@import '../../components/tabs/tabs.scss';
@import '../../components/theme/theme.scss';
@import '../../components/footer/footer.scss';
@import '../../components/card/card.scss';
@import '../../components/page/page.scss';
@import '../../components/preview/preview.scss';

@import '../../components/template/main/main.scss';
@import '../../components/template/page/page.scss';
@import '../../components/template/main/features/features.scss';
@import '../../components/template/main/sidebar/sidebar.scss';

@import '../../03-lection1/01-button/button.scss';
@import '../../03-lection1/02-accordion/accordion.scss';
@import '../../04-lection2/01-histogram/histogram.scss';
@import '../../05-lection3/01-tooltip/tooltip.scss';
@import "../../05-lection3/02-modal/modal.scss";
@import '../../05-lection3/03-calendar/calendar.scss';
@import '../../06-lection4/01-avatar/avatar.scss';
@import '../../04-lection2/02-skeleton/skeleton.scss';
@import '../../09-lection7/01-burger-menu/burger-menu.scss';

@import "../../07-lection5/01-checkbox/checkbox.scss";
@import "../../07-lection5/02-radio/radio.scss";
@import "../../07-lection5/03-toggler/toggler.scss";
@import "../../07-lection5/04-input/input.scss";

