
.footer{
    padding: 72px 0 136px;
    margin: 0 auto;
    background-color: var(--white);
}
.footer__container{
    display:flex;
    flex-direction: column;
    justify-content: start;   
}
.footer__title{
    text-align: center;
    color: var(--black);
    margin: 0 auto 32px; 
}
.footer__content{    
    text-align: center;
    color: var(--black);    
    max-width: 640px;
    margin: 0 auto;  
}