.burger-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(-100vw);
    background-color: var(--bg-main);
    transition: transform 300ms ease;
    z-index: 99;
    overflow-y: auto;

    &[data-open]{
        transform: translateX(0);    
    }
    &__header{
        height: 64px;   
        display: flex;
        justify-content: center;
        align-items: center;
        
        position: relative;
    }
    &__wrapper-icon{
        height: 32px;
        width: 32px;
        background-color: var(--grey-2);
        border-radius: 50%;

        cursor: pointer;
        position: absolute;
        
        top: 50%;
        transform: translateY(-50%);
        left: 12px;
    }
    &__icon{
        color: var(--black); 
        height: 24px;
        width: 24px;
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    &__body{
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    &__theme{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--color-grey-4);
    }
    &__line{
        height: 1px;
        background-color: var(--grey-2);
    }
}