.theme {
  display: none;

  gap: 15px;
  align-items: center;
  &__light,
  &__dark {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  &__light {
    color: var(--grey-4);
  }
  &__dark {
    color: var(--color-secondary);
  }
  @media screen and (min-width: 768px) {
    display: inline-flex;
  }
}
