.preview{
    display:flex;
    padding: 22px 0 133px;   /*68 204 */
    
    flex-wrap: wrap;  
    justify-content: center;  
}
.preview__card{    
    
     /*flex-basis: 164px;*/
     width: calc(50% - 30px);
     margin: 15px;
 
     background: var(--white);
     box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
     border-radius: 12px;
 
 }
 @media screen and (min-width: 768px){
    .preview{
        padding: 53px 0 189px;
        margin: 0 -15px;
    }
     .preview__card{ 
        /*flex-basis: 350px;*/
        width: calc(33.3% - 30px);
     }
 }