.preview{
    display:flex;
    padding: 22px 0 133px;  
    
    flex-wrap: wrap;  
    /*justify-content: center;*/  
    justify-content: flex-start;
    /*grid-auto-rows: 1fr;*//*для одинаковой высоты рядов нужно переделать на грид или задать фикс высоту на preview__card*/
}
.preview__card{    
     width: calc(50% - 30px);
     margin: 15px;
 
     background: var(--white);
     box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
     border-radius: 12px;
 
 }
 @media screen and (min-width: 768px){
    .preview{
        padding: 53px 0 189px;
        margin: 0 -15px;
    }
     .preview__card{ 
        width: calc(33.3% - 30px);
     }
 }